<div class="container" style="margin-bottom:300px;">

  <br/>

  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-4">
          <a target="_blank" href="<%= @recipe['url']%>">
          <img src="<%= @recipe["image"] %>" width="100"/>
        </a>
        </div>
        <div class="col-xs-8">
          <a target="_blank" href="<%= @recipe['url']%>">
          <h3><%= @recipe['label'] %></h3></a>
          <b style="color:blue;">* Information below is for 1 serving</b>
        </div>
      </div>

        <h4><%= @recipe["ingredients"].size %> Ingredients</h4>
        <% @recipe["ingredientLines"].each do |i| %>
        <p><%= i %></p>
        <% end %>

        <p><b>Diet Labels:</b> <%= @recipe["dietLabels"].tr('[ ] " ', '')   rescue @recipe["dietLabels"] %></p>
        <p><b>Health Labels:</b> <%= @recipe["healthLabels"].tr('[ ] " ', '')  rescue @recipe["healthLabels"]%></p>
        <p>Cautions: <%= @recipe["cautions"].tr('[ ] " ', '')  rescue @recipe["cautions"] %></p>

        <p><b>Calories/Serving:</b> <%= @recipe["calories"].to_f.round %></p>
        <p>Total weight: <%= @recipe["totalWeight"] %></p>

      </div>
      <div class="col-xs-6">

      </div>
    </div>

    <br>


    <div id="comment_board">
      <h4>Show All Comments</h4>
      <% @comment.each do |c| %>
      <%= c.user.username %>: <br>
      <%= c.comment_text %><br><br>
      <% end %>
    </div>

    <div id="comment_board_reply">
    <h5>Comment Board</h5>
      <%= form_tag("/recipes", method: "post", :remote => true) do %>
        <%= label_tag :comment_text %>
        <%= text_field_tag :comment_text %><br>
        <%= hidden_field_tag :recipe_id, params[:id] %>
        <div class="actions">
          <%= submit_tag "Submit Comment" ,class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>

<script>
$('.btn').on("click", function() {
  console.log("FOUND");
  setTimeout(location.reload(),5000);
}
)
</script>