
<div class="container">
<h1 class="page-headers"> Saved Recipes</h2>
  <% if @recipes %>
    <% if @recipes.size == 0 %>
      <p class="well"> No saved recipes... yet!</p>
    <% end %>
 

  <% if @recipes.size > 0%>
  <% end %>
  <p></p>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="recipies_rows">
        <% @recipes.each do |r| %>
        <tr>
          <td> <a href="<%=recipe_path(r)%>"><img src="<%= r.sourceIcon %>" width="130"> </a></td>
          </td>
          <td> <a target="_blank" href="<%= recipe_path(r) %>"><%= r.title %></a></td>
          </td>
          <td> <i class="material-icons">save</i> <a href="javascript:void(0);" onclick="unsave_recipe($(this),'<%= r['source'] %>')">Remove</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
</div>



<!--- should this be added to a javascript file instead of within this page?? -->




<script>


function unsave_recipe(ele,url){
  $(ele).text("Removing from your saved recipes..");
  $.ajax({
    method: "DELETE",
    url: "<%= unsave_recipe_user_path %> ",
    data: { id: "<%= params[:id] %>" ,recipe_url: url},
    dataType: "script"
  }).done(function() {
    location.reload();
  });
}
</script>
