
<div class="container">
<h1 class="page-headers"> Saved Recipes</h2>
  <% if @recipes.size == 0 %>
    <p class="well"> No saved recipes... yet!</p>
  <% end %>

  <% if @recipes.size > 0%>
  <p></p>
  <% @recipes.in_groups_of(4,false).each do |group| %>
    <div class="row portfolio"> <!-- only have a new row every 3 rows -->
    <% group.each do |r| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumnbail">
        <a target="_blank" href="<%= recipe_path(r) %>">
        <img class="img-responsive" src="<%= r.image_url%>" alt="">
        </a>
        <a target="_blank" href="<%= recipe_path(r) %>">
        <h3><%= r.recipe_name %></h3> </a>
        <p><a href="javascript:void(0);" onclick="unsave_recipe($(this),'<%= r['uri'] %>')"><i class="material-icons">delete_forever</i> Remove</a></p>
    </div>
  </div>
        <%end%>
      </div>
      <% end %>

  <%end %>
</div>

<!--- should this be added to a javascript file instead of within this page?? --->

<script>

function unsave_recipe(ele,url){
  $(ele).text("Removing from your saved recipes..");
  $.ajax({
    method: "DELETE",
    url: "<%= unsave_recipe_user_path %> ",
    data: { id: "<%= params[:id] %>" ,recipe_url: url},
    dataType: "script"
  }).done(function() {
    location.reload();
  });
}
</script>
