
<div class="container">
<h1 class="page-headers"> Saved Recipes</h2>
  <% if @recipes.size == 0 %>
    <p class="well"> No saved recipes... yet!</p>
  <% end %>

  <% if @recipes.size > 0%>
  <p></p>
<!--
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="recipies_rows"> -->
      <% @recipes.in_groups_of(3,false).each do |group| %>
        <div class="row"> <!-- only have a new row every 3 rows -->
        <% group.each do |r| %>
        <div class="col-md-4 portfolio-item">
          <a target="_blank" href="<%= recipe_path(r) %>">
          <img class="img-responsive" src="<%= r.image_url%>" alt="">
          </a>
          <a target="_blank" href="<%= recipe_path(r) %>">
          <h3><%= r.recipe_name %></h3> </a>
          <p><i class="material-icons">save</i> <a href="javascript:void(0);" onclick="unsave_recipe($(this),'<%= r['uri'] %>')">Remove</a></p>

        </div>
        <%end%>
      </div>
      <% end %>

  <%end %>
</div>

<!--- should this be added to a javascript file instead of within this page?? --->

<script>

function unsave_recipe(ele,url){
  $(ele).text("Removing from your saved recipes..");
  $.ajax({
    method: "DELETE",
    url: "<%= unsave_recipe_user_path %> ",
    data: { id: "<%= params[:id] %>" ,recipe_url: url},
    dataType: "script"
  }).done(function() {
    location.reload();
  });
}
</script>
