<%= stylesheet_link_tag 'index' %>
<div class="logo">
  <img  class= "logo" src="/logo-transparent.png" alt="logo" />
</div>
<div class="container">
	<div class="main-page">
	  <div class="main-page-links">
		  <% if current_user %>
		    <h1>
		    	Hello <%= current_user.username %>
		    </h1>
        <div class="homepage_searchbar">
          <%if current_user.present?%>
            <%= form_tag search_user_path(current_user), :method => 'get' do %>
            <%= text_field_tag :search, params[:search], class: "left" %>
            <%= submit_tag "Search", :name => nil, class: "left" %>
            <% end %>
          <% end %>
        </div>
		  <% end %>

      <!---
				<div class="input-group stylish-input-group">
		    <input type="text" class="mainSearch form-control" placeholder="Search Recipes..">
		    <span class="input-group-addon">
		        <button type="submit">
		            <i class="material-icons">search</i>
		        </button>
		    </span>
		  </div> --->
	  </div>
	</div>
</div>
