<!DOCTYPE html>
<html>
  <head>
    <title>Project276</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	
	  <% if current_user %>
	    <span>
	    	Hello <%= current_user.username %>
	    </span>
	    <%= link_to "Log out", logout_path %>
	  <% else %>
	    <%= link_to "Sign up", new_user_path %> or
	    <%= link_to "log in", new_session_path %>
	  <% end %>


		<%= yield %>
  
  </body>
</html>
